@media screen and (min-width: 768px) {
    .container {
      max-width: 766px;
    }


.logo-up {
    margin-right: 76px;
  }

.header-navigation {
    display: flex;
    align-items: center;
}

.nav-item:not(:last-child) {
    margin-right: 40px;
  }

.link-list {
    display: block;
    position: relative;
    padding-top: 24px;
    padding-bottom: 24px;
    transition: var(--transition);
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--solutions);
  }
}